.view {
    flex: 1;
}

.frame {
    width: 100%;
    height: calc(100vh - 90px);
    border: 3px solid $secondary-background;

}

.header {
    background-color: $secondary-background;

    padding: 8px 16px;
}

.title {
    font-size: $font-sm;
}

.status {
    font-size: $font-s;
    font-family: "Light";
    text-transform: lowercase;
}

.stream {
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.timeline {
    height: 60px;
    justify-content: end;
}