.view {
    flex: 1;
}

.frame {
    height: 100%;
    width: 100%;
    border: 3px solid $secondary-background;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: $secondary-background;

    padding: 8px 16px;
}

.title {
    font-size: $font-sm;
}

.status {
    font-size: $font-s;
    font-family: "Light";
    text-transform: lowercase;
}

.stream {
    flex: 1;
}

.timeline {
    justify-content: end;
}