.preview {
    height: 180px;
    position: relative;

    background-color: $secondary-background;

    overflow: hidden;

    img {
        height: inherit;
        width: 100%;
        object-fit: cover;
    }
}

.selected {
    border: 1px solid $accent-success;
}

.title {
    position: absolute;

    font-size: $font-s;

    bottom: 8px;
    right: 8px;
}